[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Verbucci
[access "refs/for/refs/*"]
	read = group user/Verbucci
	push = group user/Verbucci
	label-Code-Review = -2..+2 group user/Verbucci
	label-Verified = -1..+1 group user/Verbucci
	rebase = group user/Verbucci
	removeReviewer = group user/Verbucci
	submit = group user/Verbucci
[access "refs/heads/*"]
	read = group user/Verbucci
	create = group user/Verbucci
	push = +force group user/Verbucci
	pushMerge = group user/Verbucci
[access "refs/tags/*"]
	push = +force group user/Verbucci
	pushTag = group user/Verbucci
	pushSignedTag = group user/Verbucci
